.TB{
    margin-top: 50px;
    background-color: rgb(48, 119, 48);
    width: 80%;
    height: 70%;
    box-shadow: 2px 2px 13px 4px rgb(88, 170, 88) inset;
    
}
.container{
    height: 650px;
   position: absolute;
   left: 230px;
   background-color: rgb(10, 43, 10);
   /* background-color: #3c3f45; */
   border-radius: 0 0 4% 4%;
}
#userBalance{
    margin-top: 20px;
    margin-left: 75px;
}


/* @media screen and (min-width: 200px) and (max-width:868px) {
     .TB{
        width: 30%;
     }   
    .container{
            left: 0px;
        }

} */



